<section class="section section-light-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Batteries Included? </h2>
            <h3 class="subtitle is-5 is-muted">See some awesome NATIVE things you can do using Jasonelle!.</h3>
            <div class="divider is-centered"></div>
        </div>    
    <div class="content-wrapper">
        <div class="columns content is-centered is-multiline">
            <div class="column is-3">
                <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/components/#button">Create Buttons</a></strong></h4>
                <div class="columns column is-12">
                        <code>
                            {
                                "type": "button"
                            }
                        </code>
                </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/components/#image">Create Images</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "image"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/components/#label">Create Labels</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "label"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#networkrequest">Make HTTP Requests</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$network.request"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#geoget">Get GPS Data</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$geo.get"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/components/#map">Show a Map</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "map"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#audiorecord">Record Audio</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$audio.record"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#visionscan">Scan QR Codes</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$vision.scan"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#mediaplay">Play Videos</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$media.play"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#write">Save to Cache</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$cache.set"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/actions/#scriptinclude">Import External JS</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "$script.include"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-3">
                    <h4><strong><a href="https://jasonelle.com/jasonette-old-docs/web">Include Web Containers</a></strong></h4>
                    <div class="columns column is-12">
                            <code>
                                {
                                    "type": "html"
                                }
                            </code>
                    </div>
            </div>

            <div class="column is-12 has-text-centered">
                    <h4><strong>And Much More!</strong></h4>
            </div>
            
        </div>
    </div>
</div>
</section>