
{{ define "title" }}
{{ .Site.Title }} · Blog
{{ end }}

{{ define "main" }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}
<section id="post" class="section is-medium">
    <div class="container">
        <div class="columns">
        <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">News</h1>
            <div class="divider"></div>
        </div>
        </div>
        <ul>
            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}